@font-face {
  font-family: 'RobotoMono';
  src: url('./fonts/Roboto-Thin.ttf');
}

* {
  font-family: 'RobotoMono', monospace;
}

body {
  display: flex;
  height: 100vh;
  margin: 0;
  padding:0;
  justify-content: center;
  text-align: center;

  color: #fff;
  background-image: linear-gradient(to right, rgb(83, 105, 118), rgb(41, 46, 73));
}
